name: autofix.ci
on:
  push:
  pull_request:
    branches: [main]
permissions:
  contents: read

jobs:
  autofix:
    runs-on: ubuntu-latest
    continue-on-error: true
    steps:
      - uses: actions/checkout@v6
      - run: pipx install poetry
      - uses: actions/setup-python@v6
        with:
          python-version: 3.14
          cache: poetry

      - working-directory: tests/ocpp-server
        run: |
          poetry install --no-root
          poetry run task format

      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v6
        with:
          cache: 'pnpm'

      - run: pnpm install --ignore-scripts

      - run: pnpm format

      - working-directory: ui/web
        run: |
          pnpm format
          pnpm lint:fix

      - uses: autofix-ci/action@7a166d7532b277f34e16238930461bf77f9d7ed8
